<!doctype html>
<html>
	<head>
		<title>酒の追加</title>
	</head>
	<body>
		<h1>新しい酒の追加と削除</h1>
		<a href="{{ url_for('index') }}">Back to home</a>
		<br>
		<form action="{{ url_for('add_sake') }}" method="POST">
			<input type="text" name="name" placeholder="input name" required/>
            <input type="text" name="kinds" placeholder="input kinds"/>
            <input type="number" name="price" placeholder="input price" required/>
			<input type="text" name="url" placeholder="input url" required/>
			<input type="submit" value="Add"/>
		</form>
		<br>
		{% for d in data %}
			<p>{{d.id}} : {{d.name}} : {{d.kinds}}: {{d.price}}</p>
			<a href="{{ url_for('del_sake', id=d.id) }}">[ delete ]</a>
		{% endfor %}
		<br>
        <a href="{{ url_for('index') }}">最初に戻る</a>
	</body>
</html>