<!doctype html>
<html>
	<head>
		<title>ギフトコード入力画面</title>
	</head>
	<body>
        <!-- Flashメッセージの表示 -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
		<h1>ギフトコードの入力</h1>
		<br>
		<form action="{{ url_for('use_gift') }}" method="POST">
			<input type="text" name="giftcode" placeholder="ギフトコードを入力" required/>
			<input type="submit" value="決定"/>
		</form>
        <br>
        <a href="{{ url_for('index') }}">最初に戻る</a>
	</body>
</html>